* {
    margin:0;
    padding:0;
}


.title h1 {
    margin:40px;
}

.title ul li {
    margin: 20px;
}

.card {
    background-color: black;
}

.card-body {
    background-color: #2f2f2f;
}

.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

.btn {
    background-color: white;
}

#historyBox {
    background-color: #2f2f2f;
    padding: 12px;

}

#historyBox p {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    margin: 0;
    color: darkgray;
}

#historyBox p span {
    color: #2f2f2f;
}